<header id="banner">
  <h1>MySQL Replication Manager</h1>
</header>

<section>
  <header>
    <h2>Status Summary</h2>
  </header>
  <div id="status-table">
  </div>
</section>

<section>
  <header><h2>Switch Master</h2></header>
    <form id="switch-master" action="/switch_master" method="post">
      <p>Master: <input type="text" name="switch[master]" size="20"/></p>
      <p>Slaves: <input type="text" name="switch[slaves]" size="20"/></p>
      <input type="submit" value="Switch Master">
    </form>
    <div>
      <div style="float:left;" id="switch-master-result"></div>
      <img style="float:left;" class='spinner' id="switch-master-spinner" src='images/wait30.gif' alt='spinner'></img>
    </div>
</section>

<section>
  <header><h2>Set up Replication Trio from Scratch</h2></header>
    <form id="repl-trio" action="/repl_trio" method="post">
      <p>Master: <input type="text" name="repl_trio[master]" size="20"/></p>
      <p>Slaves: <input type="text" name="repl_trio[slaves]" size="20"/></p>
      <input type="submit" value="Create Repliction Trio">
    </form>
    <div>
      <div style="float:left;" id="repl-trio-result"></div>
      <img style="float:left;" class="spinner" id='repl-trio-spinner' src='images/wait30.gif' alt='spinner'></img>
    </div>
</section>

<section>
  <header><h2>Add a New Slave to Existing Master</h2></header>
    <form id="add-slave" action="/add_slave" method="post">
      <p>Master: <input type="text" name="add_slave[master]" size="20"/></p>
      <p>Slave: <input type="text" name="add_slave[slaves]" size="20"/></p>
      <input type="submit" value="Add Slave to Master">
    </form>
    <div>
      <div style="float:left;" id="add-slave-result"></div>
      <img style="float:left;" class="spinner" id='add-slave-spinner' src='images/wait30.gif' alt='spinner'></img>
    </div>
</section>

